<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" style=""
	class=" js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head">
</head>
<body>
	<aside th:replace="layout/layout :: aside"></aside>
	<div
		class="content-page-container full-reset custom-scroll-containers mCustomScrollbar _mCS_2 mCS-autoHide">
		<div id="mCSB_2"
			class="mCustomScrollBox mCS-dark-thin mCSB_vertical mCSB_inside"
			tabindex="0" style="max-height: none;">
			<div id="mCSB_2_container" class="mCSB_container"
				style="position: relative; top: 0; left: 0;" dir="ltr">

				<header th:replace="layout/layout :: header"> </header>

				<section class="full-reset text-center" style="padding: 40px 0;">
					<div class="container-fluid table-responsive"
						style="margin: 0 70px 0;">
						<div class="conteiner-fluid">
							<ul class="nav nav-tabs nav-justified" style="font-size: 17px;">
								<li role="presentation" class="active"><a
									th:href="@{/listarCar}">Carreras</a></li>
								<li role="presentation"><a th:href="@{/listarMod}">Módulos
										Educativos</a></li>
								<li role="presentation"><a
									th:href="@{/listarUnidadDidactica}">Unidades Didácticas</a></li>
							</ul>
						</div>
						<div class="table-responsive">
							<div class="table" style="margin: 0 !important;">
								<div class="div-table-row div-table-row-list"
									style="background-color: #FFFFFF; font-weight: bold;">
									<div class="div-table-cell" style="width: 20%;">
										<ol class="breadcrumb">
											<li><a th:href="@{/formCar}"><i class="glyphicon glyphicon-plus-sign"></i> Nuevo</a></li>
											<li class="active"><i class="glyphicon glyphicon-th-list"></i> Listado</li>
										</ol>
									</div>
									<div class="div-table-cell" style="width: 80%;"></div>
								</div>
							</div>
						</div>
						<script>
							$(document).ready(function() {
								$('#listarCarrera').DataTable();
							});
						</script>
						<div class="card-header">
							<h3 class="mb-0" th:text="${Titulo}"></h3>							
						</div>
						<table class="display" id="listarCarrera">
							<thead>
								<tr class="text-left"
									style="background-color: #ADD2FB; font-weight: bold;">
									<th>Id</th>
									<th>Nombre</th>
									<th>Descripcion</th>
									<th>Accion</th>
								</tr>
							</thead>
							<tbody class="text-left">
								<tr th:each="carrera: ${carreras}">
									<td th:text="${carrera.id}"></td>
									<td th:text="${carrera.nombre}"></td>
									<td th:text="${carrera.descripcion}"></td>
									<td><a th:href="@{/formCar/} + ${carrera.id}"
										class="btn btn-success btn-raised btn-xs"> <i
											class="zmdi zmdi-refresh"></i></a> <a
										th:href="@{/delete/} + ${carrera.id}"
										class="btn btn-danger btn-raised btn-xs"
										onclick="return confirm('Estas seguro que desea Eliminar')">
											<i class="zmdi zmdi-delete"></i>
									</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>
				<article th:replace="layout/layout :: article"></article>
			</div>
		</div>
	</div>
</body>
</html>